@media (max-width: 576.5px) {
  body {
    padding: 0;
  }

  .container {
    width: 100%;
  }

  .menu {
    width: 100%;
    display: flex;
    flex-direction: row;
    justify-content: flex-start;
    align-items: center;
    padding: 0.5rem;
    border-radius: 0;
    -webkit-border-radius: 0;
    -moz-border-radius: 0;
    -ms-border-radius: 0;
    -o-border-radius: 0;
  }

  .wrapper-menu {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: center;
    align-items: center;
    padding: 0;
  }

  .wrapper-menu li {
    display: flex;
    align-items: center;
    text-align: center;
    margin: 0 0.5rem 0 0;
  }

  .power {
    display: flex;
    align-items: flex-end;
  }

  .general {
    width: 100%;
    min-height: 200px;
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
  }
  .general .part-general:nth-of-type(1) {
    display: flex;
    flex-direction: column;
  }
  .general .part-general:nth-of-type(1) ul li {
    width: 33%;
  }

  .general .part-general:nth-of-type(2) {
    display: flex;
    flex-direction: column;
  }
  .general .part-general:nth-of-type(2) ul li {
    width: 25%;
  }

  .general .part-general:nth-of-type(3) {
    width: 100%;
    display: flex;
    flex-direction: row;
    justify-content: center;
  }

  .wrapper-get-now div {
    font-size: 1rem;
  }

  .wrapper-get-now span {
    font-size: 0.5rem;
    margin: 0.5rem;
  }

  main {
    width: 100%;
    border-radius: 0;
    -webkit-border-radius: 0;
    -moz-border-radius: 0;
    -ms-border-radius: 0;
    -o-border-radius: 0;
  }

  .header {
    flex-direction: column;
  }

  .list-num {
    width: 100%;
    flex-direction: row;
    flex-wrap: wrap;
  }

  .sub-list-num {
    width: 50%;
    margin: 0;
  }
  .progress-total {
    padding: 0.5rem;
  }
  .canvas {
    width: 100%;
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
  }

  .canvas-left,
  .canvas-right {
    width: 100%;
    margin-bottom: 0.5rem;
  }

  .result {
    width: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
  }

  .sub-result {
    width: 50%;
    margin-bottom: 1rem;
  }

  .history {
    width: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
  }
  .right-history,
  .left-history {
    width: 100%;
    margin-bottom: 1rem;
  }
}

@media (min-width: 577px) and (max-width: 765.5px) {
  body {
    padding: 0;
  }

  .container {
    width: 100%;
  }

  .menu {
    width: 100%;
    display: flex;
    flex-direction: row;
    justify-content: flex-start;
    align-items: center;
    padding: 0.5rem;
    border-radius: 0;
    -webkit-border-radius: 0;
    -moz-border-radius: 0;
    -ms-border-radius: 0;
    -o-border-radius: 0;
  }

  .wrapper-menu {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: center;
    align-items: center;
    padding: 0;
  }

  .wrapper-menu li {
    display: flex;
    align-items: center;
    text-align: center;
    margin: 0 0.5rem 0 0;
  }

  .power {
    display: flex;
    align-items: flex-end;
  }

  .general {
    width: 100%;
    min-height: 200px;
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
  }
  .general .part-general:nth-of-type(1) {
    display: flex;
    flex-direction: column;
  }
  .general .part-general:nth-of-type(1) ul li {
    width: 33%;
  }

  .general .part-general:nth-of-type(2) {
    display: flex;
    flex-direction: column;
  }
  .general .part-general:nth-of-type(2) ul li {
    width: 25%;
  }

  .general .part-general:nth-of-type(3) {
    width: 100%;
    display: flex;
    flex-direction: row;
    justify-content: center;
  }

  .wrapper-get-now div {
    font-size: 1rem;
  }

  .wrapper-get-now span {
    font-size: 0.5rem;
    margin: 0.5rem;
  }

  main {
    width: 100%;
    border-radius: 0;
    -webkit-border-radius: 0;
    -moz-border-radius: 0;
    -ms-border-radius: 0;
    -o-border-radius: 0;
  }

  .header {
    flex-direction: column;
  }

  .list-num {
    width: 100%;
    flex-direction: row;
    flex-wrap: wrap;
  }

  .sub-list-num {
    width: 50%;
    margin: 0;
  }
  .progress-total {
    padding: 0.5rem;
  }
  .canvas {
    width: 100%;
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
  }

  .canvas-left,
  .canvas-right {
    width: 100%;
    margin-bottom: 0.5rem;
  }

  .result {
    width: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
  }

  .sub-result {
    width: 50%;
    margin-bottom: 1rem;
  }

  .history {
    width: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
  }
  .right-history,
  .left-history {
    width: 100%;
    margin-bottom: 1rem;
  }
}
